@import "tailwindcss";

html {
  scrollbar-width: none;
}
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
}

:root {
  --foreground: #000000;
  --primary: #404040;
  --secondary: #c6c6c6;
  --tertiary: #ececec;
  --background: #ffffff;
  --theme: #00ffe1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-theme: var(--theme);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nova: var(--font-nova-square);

  --animate-wiggle: wiggle 12s linear infinite;
  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --primary: #a4a4a4;
    --secondary: #353535;
    --tertiary: #141414;
    --background: #000000;
    --theme: #00fbff;
  }
}

body {
  background-color: var(--background);
  background-image: url("/noise.png");
  background-size: 200px;
  background-repeat: repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
